main.page.start {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.page-root .version {
  bottom: 20px;
  color: #64748b; /* text-muted-foreground */
  font-size: 0.8em;
  position: absolute;
  right: 20px;
}