.item-grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 30px;
  list-style: none;
  padding: 40px 0 20px 0;
}

.item-grid li {
  display: inline-block;
}

.item-grid li:hover img,
.item-grid li:hover svg {
  transform: scale(1.05);
}

.item-grid li div.image-item {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
}

.item-grid div.image-item .image-wrapper {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
  pointer-events: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.35);
}

.item-grid div.image-item svg {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 6px rgba(0, 0, 0, 0.35));
}

.item-grid img {
  max-width: 200px;
}

.item-grid .item-actions-trigger {
  border-radius: 50%;
  padding: 5px;
}

.item-grid .item-actions-trigger:hover {
  background-color: rgba(255, 255, 255, 0.3);
}