.graph-view .force-graph-container {
  overflow: hidden;
}

.graph-view .force-graph-container .clickable {
  cursor: inherit;
}

.graph-view .force-graph-container .graph-tooltip {
  font-size: 0.8rem;
  padding: 4px 6px;
  z-index: 999;
}