.etb-suggestion {
  padding-left: 20px;
  position: relative;
  --dm-search-tree: #d0d0d0;
}

.etb-suggestion::before,
.etb-suggestion::after {
  content: '';
  border-style: solid;
  border-color: var(--dm-search-tree); 
  left: 14px;
  position: absolute;
  top: -0.5px;
}

.etb-suggestion::before {
  border-left-width: 1.5px;
  height: 100%;
}

.etb-suggestion::after {
  border-bottom-width: 1.5px;
  width: 8px;
  height: 50%;
}

li:last-child .etb-suggestion::before {
  border: none;
}

li:last-child .etb-suggestion::after {
  border-left-width: 1.5px;
  border-bottom-left-radius: 3px;
}

.etb-suggestion .pip-small {
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-bottom: 1.5px;
}