table.p-datatable-table {
    table-layout: auto;
    overflow: hidden;
    min-width: 100%;
}

.p-datatable-table tr {
    border-bottom: 1px solid #e2e8f0;
    font-size: 0.8rem;
}

.p-datatable-table tr:hover {
    background-color: rgba(241, 245, 249, 0.5);
}

.p-datatable-table tbody tr:last-child {
    border-bottom: none;
}

.p-datatable-table th {
    height: 3rem;
    font-weight: 500;
    overflow: hidden;
    padding: 0 0.5rem;
}

.p-datatable-table td {
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    height: 57px;
}

.p-datatable-table td:first-child {
    white-space: nowrap;
    padding-left: 0;
}

.p-datatable-table td:first-child {
    position: relative;
    top: 1px;
}

.p-datatable-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 320px;
}

.p-datatable-table td:last-child {
    width: 80px;
    text-align: right;
}
