aside.main-nav {
  background-color: #f1f5f9;
  border-right: 1px solid #e2e8f0;
  font-size: var(--font-small);
  min-width: 250px;
  padding: 10px;
}

aside.main-nav li + li {
  margin-top: 0.4em;
}

aside.main-nav li a {
  align-items: center;
  display: flex;
  padding: 10px;
}