@import url('/fonts/inter.css');
@import url('/fonts/lexend.css');

:root {
  --font-dark: #323232;
  --font-failed: #821717;
  --font-small: 0.875em;
  --font-success: #178433;

  --background-failed: #f0dbdb;
  --background-lightgray: #f7f7f7;
  --background-success: #daefdc;

  --border-failed: #bc7676;
  --border-lightgray: #e5e5e5;
  --border-radius: 8px;
  --border-success: #76bc82;
}

html, body, #app {
  color: var(--font-dark);
  font-display: optional;
  font-family: Inter;
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  overflow: hidden;
}

.page-root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-root main {
  flex-grow: 1;
  overflow-y: auto;
}

svg {
  flex: 0 0 auto;
}

